**Exercise: String in Python**

1.Create 3 variables to store street, city and country, now create address variable to store entire address. Use two ways of creating this variable, one using + operator and the other using f-string. Now Print the address in such a way that the street, city and country prints in a separate line

In [4]:
#solution
street = "GJMIT Gardens"
city ="Bangalore"
country = "India"
address = street + "\n" + city + "\n" + country
print(address)

print("------------------------------------------------------------------------")

address1 = f"{street}\n{city}\n{country}"
print(address1)

GJMIT Gardens
Bangalore
India
------------------------------------------------------------------------
GJMIT Gardens
Bangalore
India

2.Create a variable to store the string "Earth revolves around the sun"
Print "revolves" using slice operator
Print "sun" using negative index

In [11]:
string = "Earth revolves around the sun"
rev = string[6:14]
print(rev)
sun = string[-3:]
print(sun)

revolves
sun

3.Create two variables to store how many fruits and vegetables you eat in a day. Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday. Use python f string for this.

In [12]:
fruits = "orange"
vegetables = "potato"
print(f"I eat {vegetables} veggies and {fruits} fruits daily")

I eat potato veggies and orange fruits daily

4. I have a string variable called s='maine 200 banana khaye'. This of course is a wrong statement, the correct statement is 'maine 10 samosa khaye'. Replace incorrect words in original string with new ones and print the new string. Also try to do this in one line.

In [16]:
s='maine 200 banana khaye'
s = s.replace("200","10").replace("banana","samosa")
print(s)

maine 10 samosa khaye