**Exercise: Functions in python**

1.Write a function called calculate_area that takes base and height as an input and returns and area of a triangle. Equation of an area of a triangle is,

area = (1/2)* base * height

In [1]:
def triangle_area(base,height):
  area = (1/2)*base*height
  return area

triangle_area(8,10)

40.0

2.Modify above function to take third parameter shape type. It can be either "triangle" or "rectangle". Based on shape type it will calculate area. Equation of rectangle's area is,

rectangle area=length*width

In [10]:
def calculate_area(base, height, shape_type= 'triangle'):
    if shape_type == "triangle":
        area = 0.5 * base * height
    elif shape_type == "rectangle":
        area = base * height
    else:
        area = 0.5 * base * height
    return area

calculate_area(10,20,"rectangle")

calculate_area(30,20)

300.0

3.Write a function called print_pattern that takes integer number as an argument and prints following pattern if input number is 3,

In [ ]:
*
**
***

if input is 4 then it should print

In [ ]:
*
**
***
****

In [12]:
def print_pattern(n):
  for i in range(1,n+1):
    print('*'*i)

print_pattern(5)

*
**
***
****
*****