**Exercise: Python for loop**

1.After flipping a coin 10 times you got this result,

result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]

Using for loop figure out how many times you got heads

In [3]:
result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]
heads_count = 0
tails_count = 0
for i in range(len(result)):
  if result[i]== 'heads':
    heads_count += 1
  else:
    tails_count += 1
print(f"Heads count is :{heads_count}")
print(f"Tails count is : {tails_count}")

Heads count is :4
Tails count is : 6

2.Print square of all numbers between 1 to 10 except even numbers

In [4]:
for i in range(1,11):
  if i%2 == 0:
    continue
  else:
    print(i**2)

1
9
25
49
81

In [5]:
for i in range(1,11):
  if i%2 !=0:
    print(f"square of {i} is {i**2}")

square of 1 is 1
square of 3 is 9
square of 5 is 25
square of 7 is 49
square of 9 is 81

3.Your monthly expense list (from Jan to May) looks like this,

expense_list = [2340, 2500, 2100, 3100, 2980]

Write a program that asks you to enter an expense amount and program should tell you in which month that expense occurred. If expense is not found then it should print that as well.

In [7]:
expense_list = [2340, 2500, 2100, 3100, 2980]
expense_amount = int(input("Enter the expense amount: "))
if expense_amount == expense_list[0]:
    print(f"{expense_amount} is for the month of January")
elif expense_amount == expense_list[1]:
    print(f"{expense_amount} is for the month of February")
elif expense_amount == expense_list[2]:
    print(f"{expense_amount} is for the month of March")
elif expense_amount == expense_list[3]:
    print(f"{expense_amount} is for the month of April")
elif expense_amount == expense_list[4]:
    print(f"{expense_amount} is for the month of May")
else:
    print(f"{expense_amount} is not form any month")

Enter the expense amount: 2980
2980 is for the month of May

In [10]:
expense_list = [2340, 2500, 2100, 3100, 2980]
months = ["January", "February", "March", "April", "May"]

expense_amount = int(input("Enter the expense amount: "))

found = False
for i in range(len(expense_list)):
    if expense_amount == expense_list[i]:
        print(f"{expense_amount} is for the month of {months[i]}")
        found = True
        break

if not found:
    print(f"{expense_amount} is not from any month")

Enter the expense amount: 111111
111111 is not from any month

4.Lets say you are running a 5 km race. Write a program that,

Upon completing each 1 km asks you "are you tired?"

i. If you reply "yes" then it should break and print "you didn't finish the race"

ii. If you reply "no" then it should continue and ask "are you tired" on every km

iii. If you finish all 5 km then it should print congratulations message

In [15]:
for i in range(1,6):
  if i<=4:
    print(f"You have completed {i} KM")
    ans = input("Are you tired (yes/no):")
    if ans == "yes":
      print("you didn't finish the race")
      break
  else:
      print("congratulations you have finished the race")

You have completed 1 KM
Are you tired (yes/no):no
You have completed 2 KM
Are you tired (yes/no):yes
you didn't finish the race

5.Write a program that prints following shape

In [ ]:
*
**
***
****
*****

In [18]:
for i in range(1,6):
  print('*'*i)

*
**
***
****
*****